/* Couleur */
:root {
	--color-bg-primary:#fdfaee;
	--color-fg-head-titre:#03416d;
	--color-fg-head-svg:#03416d;
	--color-fg-foot-texte:#03416d;
	--color-fg-foot-lien:#d09424;
	--color-fg-foot-lien-hover:#996400;
	--color-fg-border:#03416d;
	--color-fg-home-titre:#d09424;
	--color-fg-home-btn:#03416d;
	--color-fg-blog-titre:#022946;
	--color-fg-blog-texte:#022946;
	--color-fg-blog-lien:#d09424;
	--color-fg-blog-lien-hover:#996400;
	--color-bg-blog-code:#faf3d7;
	--color-fg-blog-code:#050c28;
	--color-fg-blog-border:#d09424;
	--color-bg-blog-sticky:#d09424;
	--color-fg-toc-titre:#022946;
	--color-fg-toc-puce:#d09424;
	--color-fg-toc-lien:#022946;
	--color-fg-toc-lien-hover:#1f3f5e;
	--color-fg-toc-border:#d09424;
	--color-fg-arch-titre:#d09424;
	--color-fg-arch-lien:#022946;
	--color-fg-arch-lien-hover:#1f3f5e;
	--color-fg-arch-border:#d09424;
	--color-bg-tags-btn:#d09424;
}

/* FONT PATHS
 * -------------------------- */
@font-face {
  font-family: 'Hack';
  src: url('/fonts/hack-regular.woff2') format('woff2'), url('/fonts/hack-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/hack-bold.woff2') format('woff2'), url('/fonts/hack-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/hack-italic.woff2') format('woff2'), url('/fonts/hack-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/hack-bolditalic.woff2') format('woff2'), url('/fonts/hack-bolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-Regular.woff2') format('woff2'), url('/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-Bold.woff2') format('woff2'), url('/fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-Italic.woff2') format('woff2'), url('/fonts/OpenSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-BoldItalic.woff2') format('woff2'), url('/fonts/OpenSans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}






html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
	font-family: 'OpenSans';
	background-color: var(--color-bg-primary);
	color: var(--color-fg-blog-texte);
	font-size: 1em;
}



/* Style generale */
.navbar-brand {
	margin-left : 10px;
}


.prag-navbar .navbar-toggler-icon {
  	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.min-vh-80 {
  min-height: 80vh !important;
}


.prag-404 {
	color: var(--color-fg-title);
	text-align: center;
	font-size: 3em;
	padding-top: 50px;
	padding-bottom: 50px;

}


/* Style General */
.prag-bg-primary {
	background-color: var(--color-bg-primary);
}


/* Style du header*/
.prag_header_svg {
  fill: var(--color-fg-head-svg);
}

.prag-header {
	border-bottom: 0.1rem solid var(--color-fg-border);
}

.prag-header a {
	color: var(--color-fg-head-titre);
	font-size: 1.8em;
}

.prag-header-active {
	font-weight: 600;
}


/* Style du footer */
.prag-foot {
	color: var(--color-fg-foot-texte);
	font-size: 0.9em;
	min-height: 30px;
	padding: 10px;
	border-top: 0.1rem solid var(--color-fg-border);
	text-align: center;
}

.prag-foot a {
	color: var(--color-fg-foot-lien);
	text-decoration: none;
}
.prag-foot a:hover {
	color: var(--color-fg-foot-lien-hover);	
}


/* Style des tags */
.prag-tags {
	padding-top : 50px;
	padding-bottom : 50px;
	text-align: center;
}

.prag-tags a {
	color: var(--color-fg-arch-lien);
	text-decoration: none;
}

.prag-tags a:hover {
	color: var(--color-fg-arch-lien-hover);	
}

.prag-tag-badge {
  color: var(--color-bg-primary);
  background-color: var(--color-bg-tags-btn);
}

.prag-tags-titre {
	color: var(--color-fg-arch-titre);
	padding-top: 10px;

}

/* Style de la page Home listant les articles */
.list-blog-post {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 0.1rem solid var(--color-fg-blog-border);
}

.list-blog-post:last-child {
	border-bottom: none;
}

.list-blog-post-title, .blog-post-title {
	color: var(--color-fg-blog-titre);
	text-align:center;
}

.list-blog-post-title a {
	color: var(--color-fg-blog-titre);
	text-decoration: none;
}
.list-blog-post-title a:hover {
	color: var(--color-fg-blog-titre);
}


.list-blog-post-date, .blog-post-date {
	text-align:right;
	opacity:0.8;
	font-size:1em;
}

.list-blog-post-tags {
	margin-bottom: 10px;
	font-size:1em;
}

.list-blog-post-tags a, .blog-post-tags a {
	margin-left: 5px;
	color: var(--color-fg-blog-lien);
	text-decoration: none;
}

.list-blog-post-tags a:hover, .blog-post-tags a:hover {
	color: var(--color-fg-blog-lien-hover);
}

.list-blog-post-readmore {
	text-align: right;
	font-size:1em;
}

.list-blog-post-readmore a {
	color : var(--color-fg-blog-lien);
	text-decoration: none;
}

.list-blog-post-readmore a:hover {
	color : var(--color-fg-blog-lien-hover);
}


.list-blog-post-summary {
	color: var(--color-fg-blog-texte);
}
.list-blog-post-summary a {
	color : var(--color-fg-blog-lien);
	text-decoration: none;
}
.list-blog-post-summary a:hover {
	color : var(--color-fg-blog-lien-hover);
}

/* Style de la page blog single.html */
.blog-post-with-toc {
	width: 100%;
}

@media (min-width: 768px) {
	.blog-post-with-toc {
		width: 70%;
		margin-left: 10%;
		margin-right: 20%;
	}

}


.blog-post {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: var(--color-fg-blog-texte);
	font-size:0.95em;
}


.blog-post-main {
	margin-top : 50px;
	margin-bottom : 50px;
}

.blog-post-main p {
	line-height: 1.2em;
}

.blog-post-main a {
	color: var(--color-fg-blog-lien);
	text-decoration: none;
}
.blog-post-main a:hover {
	color: var(--color-fg-blog-lien-hover);
}


.blog-post-main :not(pre) > code {
	color : var(--color-fg-blog-code);
	background-color: var(--color-bg-blog-code); 
	padding-left : 10px;
	padding-right : 10px;
	font-family: 'Hack';
	font-size: 0.85em;
}

.blog-post-main blockquote > p > code {

}


.blog-post-main h1 {
	margin-top: 40px;
	margin-bottom : 10px;
	font-size: 1.8em;
	text-decoration-line: underline;
	color : var(--color-fg-blog-titre);
}
.blog-post-main h2 {
	font-size: 1.4em;
	font-weight: 600;
	text-decoration-line: none;
	color : var(--color-fg-blog-titre);
}
.blog-post-main h3 {
	font-size: 1.2em;
	font-weight: 600;
	text-decoration-line: none;
	color : var(--color-fg-blog-titre);
}


.blog-post-main :not(h1) + h2 {
	margin-top:30px;
}


.blog-post-main blockquote {
	font-size : 0.9em;
	font-style : italic;
	padding-left : 20px;
	padding-right : 20px;
	color: var(--color-fg-blog-texte);
}




.blog-post-main p > a > img {
	border : 1px dotted var(--color-fg-blog-lien);
	margin-left:auto;
	margin-right:auto;
	display: block;
	max-width:600px;
	/*max-width: 100%*/
}


.blog-post-main table {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}

.blog-post-main table > thead
,.blog-post-main table > tbody > tr {
	border-bottom : 1px solid var(--color-fg-blog-texte);
}


.blog-post-main table > thead > tr > th:first-child
,.blog-post-main table > tbody > tr > td:first-child {
	border-right : 1px solid var(--color-fg-blog-texte);
}

.blog-post-main table > tbody > tr > td
,.blog-post-main table > thead > tr > th {
	padding-left : 10px;
	padding-right : 20px;
}




/* Style de la page archive listant l'ensemble des articles */
.archive-posts-group {
	display:flex;margin-bottom:1.9em;
	line-height:normal;
}



/* Style de la page archives */
.arch-posts-group {
	margin-top:50px;
	display:flex;
	margin-bottom:50px;
	line-height:normal;
	color: var(--color-fg-arch-titre);
}

.arch-post-year {
	color : var(--color-fg-arch-titre);
	padding-top:6px;
	margin-right:1.8em;
	font-size:1.6em;
	font-weight: 600;
}


.arch-post-list {
	flex-grow:1;
	margin:0;
	padding:0;
	list-style:none;
}

.arch-post-list:last-child {
	border-bottom:none;
}

.arch-post-item {
	border-bottom:0.05rem var(--color-fg-arch-border) solid;
}

.arch-post-item:first-child {
	padding-top:10px;
}

.arch-post-item:last-child {
	border-bottom:none;
}

.arch-post-item a {
	display:flex;
	justify-content:space-between;
	align-items:baseline;
	padding:5px 0;
	text-decoration: none;
	color: var(--color-fg-arch-lien);
	padding-bottom:0px
}
.arch-post-item a:hover {
	color: var(--color-fg-arch-lien-hover);
}

.arch-post-tags {
	display:flex;
	justify-content:flex-end;
}

.arch-post-tags a {
	color: var(--color-fg-arch-lien);
	text-decoration: none;
	font-size : 0.8em;
	font-style: italic;
	margin-left: 5px;
	padding-top:0px;
	opacity:.6
}
.arch-post-tags a:hover {
	color: var(--color-fg-arch-lien-hover);
}

.arch-post-day{
	flex-shrink:0;
	margin-left:1em;
	opacity:.6
}










/* Site pour la page principal (Home)  */

.cover {
	text-align: center;	
	margin-top:50px;
	margin-bottom:50px;
	padding-top:50px;
	padding-bottom: 50px;
	color: var(--color-fg-home-titre) ;
}

.cover h1 {
	font-weight: 900;
	padding-bottom : 50px;
	color:var(--color-fg-home-titre);
}

.btn-cover {
  background-color: var(--color-fg-home-btn);
  color: var(--color-bg-primary);
  border-color: var(--color-bg-primary);
}


.btn-cover:hover {
  color: var(--color-fg-home-btn);
  border-color: var(--color-fg-home-btn);
  background-color: var(--color-bg-primary);
}



/* style du petit bouton permettant de retourner facilement en haut de la page (mobile navigation) */
.prag-sticky-hide {
	display:none;
}

.prag-sticky-bot {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 20px;
  float: right;
  fill: var(--color-bg-blog-sticky);
  opacity:0.6;
}

@media (min-width: 768px) {
	.prag-sticky-bot {
	  display:none;
	}
}





/* gestion de l'affichage de la pagination */
.prag-pagination {
  	display: -ms-flexbox;
  	display: flex;
  	padding-left: 0;
  	list-style: none;
  	border-radius: 0.25rem;
  	justify-content: center;
  	margin-top: 20px;
}

.prag-pagination .page-item {
}

.prag-pagination .page-link {
	color: var(--color-fg-blog-titre);
	background-color : var(--color-bg-primary);
}

.prag-pagination-active .page-link {
	color: var(--color-bg-primary);
	background-color: var(--color-fg-blog-titre);
}





/* gestion de l'affichage du TOC/Sommaire */
.prag-toc {
	margin-top: 40px;
}

.prag-toc ul:first-child {
	list-style-type: lower-roman;

}
.prag-toc ul {
	list-style-type: none;
	padding-left:12px;
	list-style-type: decimal;

}

.prag-toc li {
	line-height: 1.5rem;
	color:var(--color-fg-toc-puce);
}


.prag-toc a {
	color: var(--color-fg-toc-lien);
	text-decoration: none;
}

.prag-toc a:hover {
	color: var(--color-fg-toc-lien-hover);
}

.prag-toc-head {
	font-size: 1.8em;
	text-decoration-line: underline;
	color: var(--color-fg-toc-titre);
}

.prag-toc-body {
	padding-left: 25px;
}

@media (min-width: 768px) {
	.prag-toc {
	  position:fixed;
	  top: 70px;
	  right: 0px;
	  width: 20%;
	  height: 80%;
	  overflow-y: auto;
	}

	.prag-toc li {
		line-height: 1rem;
	}

	.prag-toc a {
	  color: var(--color-fg-toc-lien);
	  text-decoration: initial;
	  font-size: 0.95em;
	}

	.prag-toc a:hover {
	  color: var(--color-fg-toc-lien-hover);
	}

	.prag-toc-head {
		font-size: 1.2em;
		font-weight: 600;
		text-decoration-line: none;
	}

	.prag-toc-body {
		padding-left: 25px;
		border-left: 0.01rem solid var(--color-fg-toc-border);
	}
}

