/* Couleur :
  

  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #FFFFFF;
  --color-fg-primary: #000000;
  --color-fg-secondary: #486B00;


*/

body {
	font-family: 'Open Sans', sans-serif;
}



/* Style generale */
.navbar-brand {
	margin-left : 10px;
}


.min-vh-80 {
  min-height: 80vh !important;
}


.prag-404 {
	color: #486B00;
	text-align: center;
	font-size: 50px;
	padding-top: 50px;
	padding-bottom: 50px;

}


/* Style General */
.prag-bg-primary {
	background-color: #FFFFFF;
}


/* Style du header*/
.prag_header_svg {
  fill: #486B00;
}

.prag-header {
	border-bottom: 0.1rem solid #486B00;
}

.prag-header a {
	color: #486B00;
	font-size: 24px;
}

.prag-header-active {
	font-weight: 600;
}


/* Style du footer */
.prag-foot {
	color: #000000;
	font-size: 14px;
	font-weight: 900;
	min-height: 30px;
	padding: 10px;
	border-top: 0.1rem solid #486B00;
	text-align: center;
}

.prag-foot a {
	color: #486B00;
}


/* Style des tags */
.prag-tags {
	padding-top : 50px;
	padding-bottom : 50px;
	text-align: center;
}

.prag-tags a {
	color: #486B00;
	text-decoration: none;
}

.prag-tags a:hover {
	color: #000000;	
}

.prag-tag-badge {
  color: #FFFFFF;
  background-color: #486B00;
}

.prag-tags-titre {
	color: #486B00;
	padding-top: 10px;

}

/* Style de la page Home listant les articles */
.list-blog-post {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 0.1rem solid #486B00;
}

.list-blog-post:last-child {
	border-bottom: none;
}

.list-blog-post-title, .blog-post-title {
	text-align:center;
}

.list-blog-post-title a {
	color: #000000;
	text-decoration: none;
}

.list-blog-post-date, .blog-post-date {
	text-align:right;
	font-weight: 600;
}

.list-blog-post-tags {
	margin-bottom: 10px;
}

.list-blog-post-tags a, .blog-post-tags a {
	margin-left: 5px;
	color: #486B00;
}


.list-blog-post-readmore {
	text-align: right;
}

.list-blog-post-readmore a {
	color : #486B00;
}

.list-blog-post-summary a {
		color : #486B00;
}


/* Style de la page blog single.html */
.blog-post-with-toc {
	width: 100%;
}

@media (min-width: 768px) {
	.blog-post-with-toc {
		width: 80%;
	}

}


.blog-post {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.blog-post-main {
	margin-top : 50px;
	margin-bottom : 50px;
}

.blog-post-main a {
	color : #486B00;
}

.blog-post-main code {
	color : #486B00;
	background-color: #F5F5F5;
	padding-left : 10px;
	padding-right : 10px;
}

.blog-post-main h1 {
	margin-top: 40px;
	font-size: 22px;
	text-decoration-line: underline;

}

.blog-post-main blockquote {
	font-size : 14px;
	font-style : italic;
	padding-left : 50px;
	padding-right : 50px;
}


/* Style de la page archive listant l'ensemble des articles */
.archive-posts-group {
	display:flex;margin-bottom:1.9em;
	line-height:normal;
}



/* Style de la page archives */
.arch-posts-group {
	margin-top:50px;
	display:flex;
	margin-bottom:50px;
	line-height:normal;
}

.arch-post-year {
	color : #486B00;
	padding-top:6px;
	margin-right:1.8em;
	font-size:1.6em;
	font-weight: 600;
}


.arch-post-list {
	flex-grow:1;
	margin:0;
	padding:0;
	list-style:none;
}

.arch-post-list:last-child {
	border-bottom:none;
}

.arch-post-item {
	border-bottom:0.05rem #486B00 dashed;
}

.arch-post-item:first-child {
	padding-top:10px;
}

.arch-post-item:last-child {
	border-bottom:none;
}

.arch-post-item a {
	display:flex;
	justify-content:space-between;
	align-items:baseline;
	padding:5px 0;
	text-decoration: none;
	color: #486B00;
	padding-bottom:0px
}

.arch-post-tags {
	display:flex;
	justify-content:flex-end;
}

.arch-post-tags a {
	color: #486B00;
	font-size: 12px;
	font-style: italic;
	margin-left: 5px;
	padding-top:0px;
	opacity:.6
}

.arch-post-day{
	flex-shrink:0;
	margin-left:1em;
	opacity:.6
}










/* Site pour la page principal (Home)  */

.cover {
	text-align: center;	
	margin-top:50px;
	margin-bottom:50px;
	padding-top:50px;
	padding-bottom: 50px;
	color: #486B00 ;
}

.cover h1 {
	font-weight: 900;
	padding-bottom : 50px;
}

.btn-cover {
  background-color: #486B00;
  color: #FFFFFF;
  border-color: #FFFFFF;
}


.btn-cover:hover {
  color: #486B00;
  border-color: #486B00;
  background-color: #FFFFFF;
}





/* gestion de l'affichage de la pagination */
.prag-pagination {
  	display: -ms-flexbox;
  	display: flex;
  	padding-left: 0;
  	list-style: none;
  	border-radius: 0.25rem;
  	justify-content: center;
  	margin-top: 20px;
}

.prag-pagination .page-item {

}

.prag-pagination .page-link {
	color: #486B00;
}

.prag-pagination-active .page-link {
	color: #FFFFFF;
	background-color: #486B00;

}





/* gestion de l'affichage du TOC/Sommaire */
.prag-toc {
	margin-top:40px;
	padding-left: 40px;
}

.prag-toc ul:first-child {
	list-style-type: lower-roman;
}
.prag-toc ul {
	list-style-type: none;
	padding-left:12px;
}

.prag-toc li {
	line-height: 2rem;
}


.prag-toc a {
	color: #486B00;
	text-decoration: none;
}

.prag-toc a:hover
,.prag-toc a:focus {
	color: #000000;
}

.prag-toc-head {
	font-size: 22px;
	text-decoration-line: underline;
}

.prag-toc-body {}

@media (min-width: 768px) {
	.prag-toc {
	  position:fixed;
	  top: 100px;
	  right: 0px;
	  width: 20%;
	}

	.prag-toc li {
		line-height: 1rem;
	}

	.prag-toc a {
	  color: #486B00;
	  text-decoration: none;
	  font-size: 14px;
	}

	.prag-toc a:hover
	,.prag-toc a:focus {
	  color: #000000;
	}

	.prag-toc-head {
		font-size: 16px;
		text-decoration-line: none;
	}

	.prag-toc-body {
		padding-left: 20px;
		border-left: 0.01rem solid #486B00;
	}
}

